@model AddressBook.Models.Contact

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    @Html.Partial("~/Views/Shared/_DeleteDetail.cshtml")
    
</div>
<p>
    @Html.ActionLink("Edit", "Index", "Edit", new { id = Model.ContactId }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
